<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QR App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">QR App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button class="ion-padding" routerLink="/form">Edit VCard</ion-button>
  <div id="container">

    <ion-button routerLink="/with-mobile">QR con móvil</ion-button>
    <ion-button routerLink="/without-mobile">QR sin móvil</ion-button>

  </div>


</ion-content>
